body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 100px;
}

.form-control {
    border-radius: 0;
}

.btn-primary {
    border-radius: 0;
}

/* Existing styles */
/* ... */

/* New hover effect for navbar links */
.navbar-nav .nav-link:hover {
    color: #f8f9fa; /* This is just an example color */
    background-color: #333; /* Example background color on hover */
    border-radius: 5px; /* Optional: if you want rounded corners */
    padding: 5px; /* Optional: if you want some padding */
    transition: all 0.3s; /* Smooth transition for the hover effect */
}
.deals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the space between items */
    margin-top: 20px;
}

.deal {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px; /* Adjust the width as necessary */
    text-align: center;
}

.deal img {
    max-width: 100%;
    height: auto;
}

.deal h5 {
    margin: 10px 0;
}


#dealsCarousel {
    width: 100%; /* Full width */
    height: 75vh; /* 75% of the viewport height */
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    
}
.carousel-item img {
    width: 100%; /* Make the image full width of the .carousel-item */
    height: 100%; /* Make the image full height of the .carousel-item */
    object-fit: cover; 
}
.carousel-item:hover {
    transform: scale(1.05); /* Scale up the item on hover */
    cursor: pointer; /* Change cursor to indicate it's clickable */
    background-color: rgba(0, 0, 0, 0.1); /* Optional: add a slight background on hover */
}
