body {
    background-color: #f8f9fa00;
    margin: 0; /* Remove default margin */
    overflow: hidden; /* Prevent scrolling in the background */
  }
  
  /* Style the video background */
  .video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Set the width to 100% to cover the whole width of its container */
    height: auto; /* Allow the height to adjust proportionally to maintain aspect ratio */
    z-index: -1;
    overflow: hidden;
  }
  
  .video-background video {
    width: 100%;
    height: auto;
  }
  
  /* Style the content container */
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%; /* Set the width of the content to 50% of the page */
  }
  
  /* Style the image container */
  .image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style the search container */
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Style the search input field */
  #searchInput {
    border: none;
    border-radius: 24px;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  
  /* Style the search button */
  #searchBtn {
    border: none;
    border-radius: 24px;
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  

  /* Center the navbar vertically */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Add other styling as needed */
  }
  